.startgui{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.usergui{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.offline-user{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.offline-user-advanced{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.Mojang-user{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.microsoft-user{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.authlib-uesr{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.game-folder{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.version{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.version-2{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.version-3{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.version-list{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.download-gui{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.download-game{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.download-game-list{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.download-integration{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.download-mods{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.download-packs{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.download-saves{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.online-multiplayer-gui{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.setup-gui{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.setup-global-gui{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.setup-gaoji{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.setup-java-jvm{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.setup-ts{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.setup-gaoji-jg{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.settings-general{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.settings-exterior-gui{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.settings-exterior-title-transparent-true{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.settings-exterior-title-transparent-fales{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.settings-exterior-bg{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.settings-exterior-rizi-font{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.settings-exterior-font{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.settings-download-gui{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.settings-download-yuan{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.settings-download-list{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}
.settings-download-web-proxy{
	box-shadow:0 0 8px rgba(81, 81,81,0.8)
}